/* Global Imports */
@import './styles/global.css';

/* HTML & Body */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--bg-primary);
}

